{% extends "base.html" %}

{% block page_content %}
            <h1 class="prepend-top">The API</h1>
            
            <p>
                Here will be listed the many ways in which you will be able to access the keyvals.
            </p>
            
            <h2>JavaScript</h2>
            
            <p>
                We will be making a little snippet of JavaScript, or a jQuery plugin (since they are all the rage), for people who don't have any kind of server side capabilities.
            </p>
            
            <h2>Django</h2>
            
            <p>
                Lookout for Django template tags. These will be of the form <em>tagname username key</em>.
            </p>
            
            <h2>Wordpress</h2>
            
            <p>
                And how can make anything these days without having a Wordpress plugin.
            </p>
{% endblock %}